# MongoDB Connection String
# Replace with your actual MongoDB connection string
MONGOOSE_URL=mongodb+srv://username:password@cluster.mongodb.net/your_database?retryWrites=true&w=majority

# Authentication URL
NEXT_PUBLIC_AUTH_URL=http://localhost:3000

# Stream API Keys
NEXT_PUBLIC_STREAM_API_KEY=your_stream_api_key
STREAM_SECRET_KEY=your_stream_secret_key

# You can add other environment variables below 