# MongoDB Connection String
# Replace with your actual MongoDB connection string
MONGOOSE_URL=mongodb+srv://username:password@cluster.mongodb.net/your_database?retryWrites=true&w=majority

# You can add other environment variables below 